@font-face{
	src: url('lato.ttf'); 
	font-family:lato; 
}
@font-face{
	src: url('nexabold.otf');
	font-family:nexa;
}
@font-face {
	font-family:neo;
	src: url(neo.otf) format("opentype");
	
}

html{
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #00c7ff;

}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  left: 0;
}

.navbar a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: nexa;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.cont{
	top: 1%;
	position: fixed;
	left: 2%;
	width:25px;
	cursor: pointer;
	z-index: 106;
	height: 20px;
}



.head{
	font-family:lato;
	text-align: center;
	color: #d4d1d1;
	font-size: 71px;
	text-transform: capitalize;
	margin-top: 12%;
}
.imgtop{
	float: right;
	margin-right: 25px;
	margin-top: -260px;
	will-change: opacity;
	height: 30%;
	width: 50%;
}

@-webkit-keyframes typing{from{width: 0;}}
@-webkit-keyframes blink-caret{50%{border-color: transparent;}}
.des{
    font-size: 20px; 
    font-family:lato;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    border-right: .1em solid #444;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    color: #444;
    opacity: .8;
    letter-spacing: 10px;
    -webkit-animation: typing 2.5s steps(30,end),
    blink-caret infinite alternate step-end .5s;
}
.info{ 
	font-family:lato;
	font-size: 15px;
	word-spacing: 10px;
	text-align: justify;
	color: #888;
	width: 400px;
	margin-left: 20px;
	margin-top: 25px;
/*	font-weight: bold;
*/}

.buttop{
	font-family:neo;
	color: #888;
	margin-top: 20px;
	letter-spacing: 2px;
	background-color: transparent;
	border: none;
	transition: .3s; 
	margin-left: 40px;
	font-size: 20px;
	transition: .9s all-ease;
	cursor: pointer;
	outline: none;

}
.buttop:hover{
	color: #2595fa;
	transition: 0.5s;
}
.buttop span{
	color: #888;
	transition: .9s all-ease;
}
.buttop:hover span{
	margin-left: 20px;
	color: #2595fa;
	transition: .9s all-ease;	
}
.back2{
	background-color: #f7f7f7;
	position: absolute;
	top: 105%;
	left: 0px;
	height: 100%;
	width: 90%;
	margin-left: 10% !important;
}
.div2head{
	font-family:nexa;
	color: #00bcd4;
	width: 20%;
	float: left;
	margin-left: 0px;
	font-size: 71px;
	text-align: center;
	text-transform: capitalize;
	transform: rotate(-90deg);
	margin-left: -160px;
	margin-top: 200px;
	text-shadow: 4px 4px #e6e639;
}
.im2{
	width: 78%;
	display: table;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 50px;
	height: 70%;
}
.t2{
	font-family:lato;
	letter-spacing: 5px;
	text-align: center;
	color: #444;
	font-size: 51px;
	text-transform: capitalize;

}
.back3{
	background-color: transparent;
	position: absolute;
	top:215%;
	left: 0px;
	height: 110%;
	width: 100%;
}
.tec{
	margin-top: 200px;
	width: 50%;
	position: absolute;
	margin-left: 0px;
	height: 100%;
}
.t3{
	font-family:nexa;
	letter-spacing: 5px;
	color: #e91e63;
	font-size: 101px;
	text-transform: capitalize;
	float: right;
	line-height: 200px;
	margin-top: 85px;	
	text-shadow: 5px 5px #f68b1f;

}


.t3 span{
	color: #444;
	letter-spacing: -90px;
}
.tec2{
	margin-top:140px;
	width: 50%;
	position: absolute;
	background-color: #f7f7f7;
	margin-left: 50%;
}
.inh{
	text-align: left;
	color: #8c8c8f;
	margin-left: 40px;
	font-size: 25px;
	letter-spacing: 4px;
	margin-top: 20px;
	font-family:lato;
	text-transform: capitalize;
	font-weight: 800;
}
.inhf{
	text-align: left;
	color: #8c8c8f;
	margin: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 29px;
	font-family:lato; 
	line-height: 25px;
}
.pre{
	text-transform: capitalize;
	font-size: 110px;
	font-family:nexa;
	color: #4a4a4a;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 8px;
	text-shadow: 4px 4px #33ccff;
}
.top4{
	background-color: #fff;
	position: absolute;
	top:355%;
	left: 0px;
	height: 100%;
	width: 100%;
}
.des2{
    font-size: 20px; 
    font-family:lato;
    margin-left: 30%;
    text-transform: uppercase;
    border-right: .1em solid #444;
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    color: #444;
    opacity: .8;
    letter-spacing: 10px;
    -webkit-animation: typing 2.5s steps(30,end),
    blink-caret infinite alternate step-end .5s;
}
.inpu1{
	height: 30px;
	width: 250px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background-color: none;
	outline: none;
	border: none;
	border-bottom: 3px solid #33ccff;
	padding-left: 20px;
	color: #444;
	font-family:lato;
	font-weight: bold; 

}
.inpu2{
	height: 30px;
	width: 250px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: none;
	outline: none;
	border: none;
	border-bottom: 3px solid #33ccff;
	padding-left: 20px;
	color: #444;
	font-family:lato;
	font-weight: bold; 

}
.icon {
  text-decoration: none;
  color: #fff;
  background-color: #02bdd5;
  height: 100px;
  margin-left: 2%;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: #00a4ba 1px 1px, #00a4ba 2px 2px, #00a4ba 3px 3px, #00a4ba 4px 4px, #00a4ba 5px 5px, #00a4ba 6px 6px, #00a4ba 7px 7px, #00a4ba 8px 8px, #00a4ba 9px 9px, #00a4ba 10px 10px, #00a4ba 11px 11px, #00a4ba 12px 12px, #00a4ba 13px 13px, #00a4ba 14px 14px, #00a4ba 15px 15px, #00a4ba 16px 16px, #00a4ba 17px 17px, #00a4ba 18px 18px, #00a4ba 19px 19px, #00a4ba 20px 20px, #00a4ba 21px 21px, #00a4ba 22px 22px, #00a4ba 23px 23px, #00a4ba 24px 24px, #00a4ba 25px 25px, #00a4ba 26px 26px, #00a4ba 27px 27px, #00a4ba 28px 28px, #00a4ba 29px 29px, #00a4ba 30px 30px, #00a4ba 31px 31px, #00a4ba 32px 32px, #00a4ba 33px 33px, #00a4ba 34px 34px, #00a4ba 35px 35px, #00a4ba 36px 36px, #00a4ba 37px 37px, #00a4ba 38px 38px, #00a4ba 39px 39px, #00a4ba 40px 40px, #00a4ba 41px 41px, #00a4ba 42px 42px, #00a4ba 43px 43px, #00a4ba 44px 44px, #00a4ba 45px 45px, #00a4ba 46px 46px, #00a4ba 47px 47px, #00a4ba 48px 48px, #00a4ba 49px 49px, #00a4ba 50px 50px, #00a4ba 51px 51px, #00a4ba 52px 52px, #00a4ba 53px 53px, #00a4ba 54px 54px, #00a4ba 55px 55px, #00a4ba 56px 56px, #00a4ba 57px 57px, #00a4ba 58px 58px, #00a4ba 59px 59px, #00a4ba 60px 60px, #00a4ba 61px 61px, #00a4ba 62px 62px, #00a4ba 63px 63px, #00a4ba 64px 64px, #00a4ba 65px 65px, #00a4ba 66px 66px, #00a4ba 67px 67px, #00a4ba 68px 68px, #00a4ba 69px 69px, #00a4ba 70px 70px, #00a4ba 71px 71px, #00a4ba 72px 72px, #00a4ba 73px 73px, #00a4ba 74px 74px, #00a4ba 75px 75px, #00a4ba 76px 76px, #00a4ba 77px 77px, #00a4ba 78px 78px, #00a4ba 79px 79px, #00a4ba 80px 80px, #00a4ba 81px 81px, #00a4ba 82px 82px, #00a4ba 83px 83px, #00a4ba 84px 84px, #00a4ba 85px 85px, #00a4ba 86px 86px, #00a4ba 87px 87px, #00a4ba 88px 88px, #00a4ba 89px 89px, #00a4ba 90px 90px, #00a4ba 91px 91px, #00a4ba 92px 92px, #00a4ba 93px 93px, #00a4ba 94px 94px, #00a4ba 95px 95px, #00a4ba 96px 96px, #00a4ba 97px 97px, #00a4ba 98px 98px, #00a4ba 99px 99px, #00a4ba 100px 100px;
}

.med{
	font-family: lato;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 1000;
	margin-left: 2%;
}

.med1{
	font-family: neo;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 1000;
	margin-left: 2%;
	margin-top: 0.5%;
}

.button {
  background-image: -webkit-linear-gradient(106deg, #E5474B 50%, #c43d40 50%);
  background-image: linear-gradient(-16deg, #E5474B 50%, #c43d40 50%);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 20px 40px 25px;
  position: relative;
  max-width: 100%;
  font-family:neo;
  margin-left: 45%;
  margin-top: 1%;

}
.button:after {
  content: "";
  background: #fff;
  height: 1px;
  width: 15%;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 42.5%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.button:hover {
  color: #fff;
}
.button:hover:after {
  width: 70%;
  left: 15%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


::-webkit-scrollbar{
	width: 4px;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: transparent;
}




